@font-face {
font-family: Muli;
src: url('fonts/Muli-VariableFont_wght.ttf');
}

@font-face {
font-family: OpenDyslexic;
src: url('fonts/OpenDyslexic-Regular.otf');
}

// @font-face {
// font-family: Open Dyslexic;
// src: url('fonts/OpenDyslexic-bold.ttf');
// font-weight: bold;
// }
